body {
    background-color: black;
    height: 100vh;
}
.show-result {
    height: 5rem;
    width: 20rem;
    border: none;
    border-radius: 25px;

}
.gray {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: gray;
    border: none;

}
.orenge {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: orange;
    color: aliceblue;
    border: none;
}
.first-row {
    margin: 2rem 2rem;
}
    
